<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jjv360.chronobuddy_watch">

    <!-- Allow vibrating -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Allow disabling the keyguard -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- Main application -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Networking service -->
        <service android:name=".networking.P2PService" android:enabled="true" android:exported="false" />

        <!-- Main watch screen interface -->
        <activity android:name=".ui.MainActivity" android:immersive="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Displays fullscreen notifications -->
        <activity
            android:name=".ui.NotificationFullscreenActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:immersive="true"
            android:launchMode="singleTop"
            android:showOnLockScreen="true" />

        <!-- Displays the actions for a notification -->
        <activity
            android:name=".ui.NotificationActionActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:immersive="true"
            android:showOnLockScreen="true" />

        <!-- Main menu -->
        <activity
            android:name=".ui.MenuActivity"
            android:immersive="true" />

        <!-- Allows controlling music on the phone -->
        <activity
            android:name=".ui.MusicControlActivity"
            android:immersive="true" />

    </application>

</manifest>