<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjv360.shared" >

    <!-- Access to network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Access to bluetooth hardware -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Allow a foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
